* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background: var(--gray1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Barlow", sans-serif;
}