:root {
    --gray1: #F7F7FC;
    --gray2: #E3E3FC;
    --gray3: #9999CC;
    --gray4: #6B6B99;
    --purple: #7373FF;
    --orange: #FFBF40;
    --green: #21D99B;
    --red: #FF4D79;
    --red-alpha-10: #FF4D791A;
    --cell-height: 38px;
    --border-color: #E3E3FC;

    --container-radius: 6px;
    --container-shadow: 0 2px 6px rgba(#31314d, 0.04);
}